				body {
				max-width:800px; /* maximale paginebreedte van 800px */
				margin:auto;  /* margin auto om de pagine te centreren*/
				
				}
				div.content {
				text-align:left; /*tekst links laten uitlijnen*/
				color: rgb(60, 60, 60); /*donkergrijze kleur voor de tekst, rgb werkte beter dan simpelweg 'darkgrey'*/
				font-size: 12px; /*tekst van 12pixels groot*/
				}
				div.webshopcontent {
				text-align:left; /*tekst links laten uitlijnen*/
				color: rgb(60, 60, 60); /*donkergrijze kleur voor de tekst, rgb werkte beter dan simpelweg 'darkgrey'*/
				font-size: 12px; /*tekst van 12pixels groot*/
				display:grid;
				grid-template-columns: 1fr 1fr;
				}
				#menu {
				position:fixed; /*zodat je altijd bij het menu een andere pagina kan selecteren ipv weer omhoog te scrollen*/
				top: 2px;
				left:2px;
				border-style:solid; /*duidelijke outline voor het menu*/
				border-width:5px; 
				width:120px; 
				list-style-type:none; /*om de bullet points weg te halen*/
				padding:0;
				margin-top:5px; /* zodat elke "knop" er wat beter uit ziet*/
				background-color: blue; /* blauwe achtergrond */
				}
				a.button {
				background-color: blue;
				width: 90px;
				border-style: solid;
				border-width: 2px;
				border-color: black;
				color: white;
				padding: 5px 9px;
				text-align: center;
				text-decoration: none;
				display: inline-block;
				font-size: 12px;
				font-weight: bold;
				font-family: Arial, sans-serif;
				margin: 4px;
				cursor: pointer;
				}
				h1 {	/* hiermee bepaal ik de positie en de grootte van de header */
				position:static; 
				top:10px;
				font-size:48px;
				text-align:center;
				}
				h2,h3,h4 { /* hiermee pas ik de hoofdteksten van de headers van de verschillende delen op de about page aan te passen */
				font-size:150%;
				text-align:left;
				}
				img {text-align:left; /* hiermee pas ik de positie en grootte van de afbeelding aan */
				width:20%;
				}	
				li.menuoption { /* Zodat de links in het menu wit blijven */
					color:white;
					text-decoration: none;
				}
				
				footer { /* voor de positie en grootte copyright */
				position: fixed;
				right:0;
				bottom:0;
				background-color:black;
				color:white;
				font-size:10px;			
				}
				.active {    
					font-size:18px;	/* hiermee pas ik de font-size aan zodat het duidelijker te zien is op welke pagina je op dat moment bent */
					text-decoration: none; /* voor het verwijderen van de underline van de links */
				}
				input[type="text"] { /* om de breedte van de input velden aan te passen */
					width:400px;
				}
				input[type="password"] {
					width:400px;
				}
				input[type="email"] {
					width:400px;
				}

				textarea { /* om de breedte van de textarea aan te passen */
					width:400px;
				}
				span.error {
					color:red;
				}

				
				img.cartproducts{
					width: 80px;
					height: auto;			
				}
				
				div.orderedproducts {
					border:rgb(60, 60, 60);
					border-style: solid;
					border-width: 1px;
					border-spacing: 5px;
					width: 300px;
					padding-bottom: 2%;
					height: 120px;
					margin-bottom: 40px;
					border-radius: 5px;
				}
				a {
					text-decoration: none;
					width: 300px;
				}
				
				td.cart {
					height: 100px;
				}
				td.productroster {
					width:300px;
				}
				#product {
					width:350px;
				}
				#producttitle {
					width:350px;
				}
				#amount {
					width: 30px;
				}
				div.productroster {
					width: 350px;
				}
				img.img {
					height:150px;
					width: auto;
					
				}	